@import "../../styles//variables.scss";

.root {
  background-color: transparent;
  outline: none;
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  transition: all $transition ease;
}

.active {
  opacity: 1;
}

.md {
  height: $button-md;
}

.sm {
  height: $button-sm;
}

.lg {
  height: $button-lg;
}

.active {
  opacity: 1;
}