$header-height: 50px;
$sidebar-width: 300px;
$breadcrumb-height: 40px;

$button-sm: 44px;
$button-md: 56px;
$button-lg: 64px;

$button-block-height: 100px;

$transition: 300ms;

$gutter: 15px;

$container-width: 1440px;

$modal-width: 800px;

$white: #ffffff;
$black: #272727;
$light: #e2e8f0;