@import "../../../src/styles/variables.scss";

.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.sidebarActionsContainer {
  width: $sidebar-width;
  height: 100%;
}

.mainActions {
  width: calc(100% - #{$sidebar-width});
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}
