@import "../../../../src/styles/variables.scss";

.root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  font-size: 1.4rem;
}

.plus {
  font-size: 0.875rem;

  svg {
    transform: rotate(-45deg);
  }
}