@import "../../../styles//variables.scss";

.root {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $gutter;
  grid-row-gap: $gutter;
  padding: $gutter;

  > * {
    width: 100%;
  }
}